# Python / Django
backend/venv/                  # (if you ever created a venv locally)
*.pyc
__pycache__/
db.sqlite3

# Conda environment (optional)
envs/

# Node / Next.js
frontend/node_modules/
frontend/.next/

# Environment files
.env
.env.prod

# Docker data
postgres_data/

# IDE / Editor
.vscode/
.idea/

